:root {
    --main-accent-color: #252d73;
    --main-bg-color: #f5f5f5;
    --content-margin: 1em;
}
/* Header */

.header {
    background-color: var(--main-accent-color);
    color: white;
}

#help-icon {
    height: 35px;
    vertical-align: middle;
}

/* Control bar */

.control-button > img,
.control-button > svg {
    width: 25px;
    height: 25px;
}

.control-button:disabled {
    background-color: #aaaaaa !important;
}

nav {
    background-color: var(--bs-secondary-bg);
}

#button-run-simulation-id {
    background-color: rgb(169, 245, 169);
}

#button-pause-simulation-id {
    background-color: rgb(255, 221, 120);
}

#button-step-simulation-id {
    background-color: rgb(169, 208, 245);
}

#button-double-step-simulation-id {
    background-color: rgb(169, 208, 245);
}

#button-reset-simulation-id {
    background-color: rgb(247, 129, 129);
}

#button-visualization-id {
    display: none;
}

/* Text Content Area */

.mono-table {
    font-family: monospace;
}

.mono-table th {
    text-align: center;
}

#text-content-container,
#visualizations-container-id {
    padding: 1em;
    height: 100%;
}

#text-content-container {
    overflow-x: hidden;
}

#text-content-container > .height-100 > * {
    height: 100%;
}

#text-content-container > .main-content-column:first-child {
    margin-left: 0;
}

#text-content-container > .main-content-column:last-child {
    margin-right: 0;
}

#codemirror-id {
    flex: 1 0 5em;
    height: 100%;
}

.archsim-default-border {
    border: 1px solid var(--bs-border-color);
}

.main-content-column {
    flex-shrink: 0;
    margin: 0 var(--content-margin);
    overflow-y: scroll;
}

#toy-accu-memory-container-id {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#register-table-body-id > tr > td:nth-child(3),
#memory-table-body-id > tr > td:nth-child(2),
#toy-memory-table-body-id > tr > td:nth-child(1),
#toy-memory-table-body-id > tr > td:nth-child(2),
#toy-accu-id {
    text-align: right;
}

#output-field-id {
    background-color: #ffffff;
    padding: 1em;
    min-width: 12em;
}

.toy-current-cycle {
    padding: 0em 0.2em;
    border-radius: 0.3em;
    float: left;
}

#text-editor-separator {
    display: none;
}

#toy-main-text-container-id {
    margin-left: var(--content-margin);
    overflow: auto;
}

#toy-main-text-container-id > * {
    overflow: auto;
}

.full-width {
    width: 100%;
}

#toy-memory-table-id th:first-child {
    width: 7em;
    min-width: 7em;
}

.instruction-arrow {
    float: left;
}

#toy-ir-instruction-id {
    width: 7em;
    min-width: 7em;
}
#toy-register-table td:first-child {
    font-weight: bold;
}

#toy-register-table td:last-child {
    text-align: right;
    width: 100%;
}

#toy-output-wrapper,
#toy-registers-wrapper {
    flex: 0 0 auto;
}

#toy-memory-wrapper {
    flex: 1 0 min(auto, 1em);
}

.text-element-heading {
    font-size: 1.5em;
}

/* Visualization */

#riscv-visualization,
#toy-visualization {
    height: 100%;
    width: 100%;
    display: none;
}

/* Modals */
.modal-header,
.modal-footer {
    background-color: var(--main-accent-color);
}
