:root {
    --main-accent-color: #252d73;
    --main-bg-color: #f5f5f5;
    --highlight-color: #f4f312;
    --content-margin: 1em;
    --cache-hit-color: rgb(30, 197, 30);
    --cache-miss-color: rgb(243, 46, 11);
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.archsim-default-border {
    border: 1px solid var(--bs-border-color);
}

.archsim-mono-table {
    font-family: monospace;
}

.archsim-mono-table th {
    text-align: center;
}

.archsim-text-element-heading {
    font-size: 1.5em;
}

.archsim-icon-button {
    background-color: transparent;
    border: none;
    padding: 0px 0px;
}

.archsim-tr-runtime-error > td {
    background: var(--highlight-color);
}

.archsim-cache-highlight {
    background-color: var(--highlight-color) !important;
}

.archsim-cache-hit {
    background-color: var(--cache-hit-color) !important;
}

.archsim-cache-miss {
    background-color: var(--cache-miss-color) !important;
}

.archsim-performance-metrics-tooltip > .tooltip-inner {
    white-space: pre;
    text-align: start;
}

/* Overwrites */

.cm-focused {
    outline: none !important;
}

.modal-header,
.modal-footer {
    background-color: var(--main-accent-color) !important;
}
