/* Header */
.header {
    background-color: #252d73;
    color: white;
}

#help-icon {
    height: 35px;
    vertical-align: middle;
}

/* Control bar */

.control-button > img {
    width: 25px;
    height: 25px;
}

nav {
    background-color: var(--bs-secondary-bg);
}

#button_run_simulation_id {
    background-color: rgb(169, 245, 169);
}

#button_pause_simulation_id {
    background-color: rgb(255, 221, 120);
}

#button_step_simulation_id {
    background-color: rgb(169, 208, 245);
}

#button_reset_simulation_id {
    background-color: rgb(247, 129, 129);
}
