.tool_toolbox {

    overflow: scroll;

    color: black;

    padding-top: 0.3125em;

	padding-left: 0.3125em;

	padding-right: 1.25em;

	padding-bottom: 0.125em;

	border-radius: 0.25em;

	background-color: var(--tool_footer_color);

    text-align: left;

}

.tool_toolbox select:hover{

    background-color: #DDDDDD;

    color: black;

}

.tool_toolbox label{

	color: var(--app_nav_text_color);

	text-align: right;

	padding-top: 0.0625em;

	padding-left: 0.625em;

	padding-right: 0.625em;

	font-family: var(--tool_font_family);

	font-size: 16px;

	font-weight: bold;

}

.tool_toolbox input[type=text]{

	border-radius: 0.1875em;

	border-top: none;

	border-left: none;

	padding-right: 0.625em;

	color:var(--app_nav_text_color);

	font-size: 14px;

	height: 1.25em;

	width: 5.625em;

}

.button_search_lot {

	color:var(--app_nav_text_color);

	font-size: 15px;

	border-radius: 0.25em;

	padding-left: 0.625em;

    text-decoration: none;

    margin: 0.0625em;

    cursor: pointer;

	height: 1.5625em;

	width: 5.625em;

}
