/* ************************************************************************* */

/* Standard Layout fuer WEB App's                                            */

/* ************************************************************************* */

/* ************************************************************************* */

/* Variablen                                                                 */

/* ************************************************************************* */

:root {
    --app_header_bg_color: #252d73;

    --button_green_color: #a9f5a9;

    --button_blue_color: #a9d0f5;

    --button_red_color: #f78181;

    --button_disabled_color: #aaaaaa;

    --app_main_bg_color: #f5f5f5;

    --input_valid_color: var(--button_green_color);

    --input_invalid_color: var(--button_red_color);
}

/*add is empty to valid and invalid, empty = grey */

input:valid {
    background: var(--input_valid_color);
}

input:invalid {
    background: var(--input_invalid_color);
}

input:in-range {
    background-color: var(--input_valid_color);
}

input:out-of-range {
    background-color: var(--input_invalid_color);

    border: 0.125em solid red;
}

input:in-range + ::after {
    content: " ✔";
}

input:out-of-range + ::after {
    content: " !";
}

:is(:link, :visited) {
    color: red;
}

/* ************************************************************************* */

/* Box Modell                                                                */

/*	- Angaben fuer width/height sind die tatsächlichen Masse                 */

/*	{                                                                        */

/*		width:		400px;                                                   */

/*		height:		200px;                                                   */

/*		padding: 	20px;                                                    */

/*		border:		10px;                                                    */

/*	}                                                                        */

/*	=>	Elementbreite = 400 + 2*20 + 2*10 = 460px                            */

/*	{                                                                        */

/*		box-sizing:border-box;                                               */

/*		width:		400px;                                                   */

/*		height:		200px;                                                   */

/*		padding: 	20px;                                                    */

/*		border:		10px;                                                    */

/*	}                                                                        */

/*	=>	Elementbreite = 400 - 2*20 - 2*10 = 340px                            */

/*	                                                                         */

/* ************************************************************************* */

html {
}

body header {
    background-color: var(--app_header_bg_color);

    font-family: var(--app_header_font_family);
}

body header #webapp_header_help_image_id {
    cursor: pointer;
}

body nav {
    background-color: #f1f2f9;
}

body main {
    background-color: var(--app_main_bg_color);

    height: 100%;
}

body footer {
    background-color: var(--app_main_bg_color);
}

.button_start_simulation {
    background-color: var(--button_green_color);
}

.button_refresh_simulation {
    background-color: var(--button_red_color);
}

.button_pause_simulation {
    background-color: var(--button_disabled_color);
}

.button_next_step_simulation {
    background-color: var(--button_blue_color);
}

.loading {
}

.button_switch_representation {
    background-color: #5647875d;
}

body main #gui_base_div_id {
}

body main #input {
    line-height: 1.5em;
    padding: 0;
    border: 0;
}

body main #gui_cmd_div_id {
}

body main #gui_cmd_table_id {
    font-family: monospace;

    text-align: right;
}

body main #gui_cmd_table_id th {
    text-align: center;

    font-family: monospace;
}

body main #gui_cmd_table_id td {
    text-align: left;

    font-family: monospace;
}

body main #gui_memory_div_id {
}

body main #gui_memory_table_id {
    font-family: monospace;

    text-align: right;
}

body main #gui_memory_table_id th {
    text-align: center;

    font-family: monospace;
}

body main #gui_memory_table_id td {
    text-align: right;

    font-family: monospace;
}

body main #gui_memory_table_id select {
}

body main #gui_memory_table_id option:disabled {
    color: #f78181;
}

body main #gui_registers_div_id {
}

body main #gui_registers_table_id {
    font-family: monospace;

    text-align: right;
}

body main #gui_registers_table_id th {
    text-align: center;

    font-family: monospace;
}

body main #gui_registers_table_id td {
    text-align: right;

    font-family: monospace;
}

body main #gui_registers_table_id select {
}

body main #gui_registers_table_id option:disabled {
    color: #f78181;
}

body main #output {
}

.CodeMirror {
    width: 25em;
    height: auto;
}

.highlight {
    background-color: red;
}

.CodeMirror-hints {
    pointer-events: none;
}
